@import "reset.scss";
@import "mixin.scss";
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(226, 226, 32);
  width: 375px;
  @include desktop {
    display: block;
    width: auto;
  }
}
.Container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  @include desktop {
    width: auto;
    flex-direction: row;
  }
}
.Add-list,
.Added-list,
.Done-list {
  align-self: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  min-height: 50px;
  @include desktop {
    min-width: 33%;
    min-height: 500px;
    display: block;
  }
}
input {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding-left: 150px;
  padding-right: 110px;
  margin: 10px;
  @include desktop {
    display: block;
    padding: 0;
  }
  .DelBtn {
    background: none;
    border: none;
    position: absolute;
    left: 340px;
    @include desktop {
      position: relative;
      left: 0;
    }
  }
  .edit {
    position: absolute;
    left: 20px;
    @include desktop {
      position: relative;
      left: 0;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    left: 70px;
    @include desktop {
      position: relative;
      left: 0;
    }
  }
  span {
    font-size: 25px;
    text-align: center;
  }
}
h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}
