@import "reset";
@import "mixin.scss";
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00a6a6;
  min-width: 375px;
  @include desktop {
    display: block;
    width: auto;
  }
}
.Container {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  @include desktop {
    width: auto;
    flex-direction: row;
  }
}
.Added-list,
.Done-list {
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
  border: 2px solid black;
  display: block;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  background-color: #ffd131;
  @include desktop {
    min-width: 33%;
    min-height: 500px;
    display: block;
    margin-top: 50px;
  }
}
.Add-list {
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    position: fixed;
  }
}
input {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

li {
  display: block;

  border: 1px solid black;
  margin: 10px;
  @include desktop {
    display: block;
    padding: 0;
  }
}
span {
  font-size: 25px;
  text-align: center;
}
h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  position: relative;
}
.Added-list {
  span {
    color: red;
  }
  .DelBtn {
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
  }
}
.Done-list {
  span {
    color: green;
  }
}
